<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hom1.css' %}">
    
</head>
<body>
    <h1> American Sign Language Detection</h1>
    <br>
    <ul>
        <li><a class="active" href="https://www.irctc.co.in/">Home</a> </li>
        <li><a class="active" href="#about">About</a> </li>
        <li><a class="active" href="signup">SignUp</a> </li>
        <li><a class="active" href="#Contact">Contact</a> </li>
    </ul>

    <form class="macha">
        <label id="ok">Username</label><br>
        <input type="text"><br>
        <label>Password</label><br>
        <input type="text">
    </form> 
    
    <script src="{% static 'index.js' %}" charset="utf-8"></script>
<!--
     <script>
         document.getElementById('ok').innerHTML="Username";
     </script>
-->
</body>
</html>